{% extends 'dashboard.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Curso {{ course.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ course.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ course.description }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ course.code }}</td>
            </tr>
            <tr>
                <th>Profesores</th>
                <td>
                <ul>
                  {% for user in course.teachers %}
                    <li> {{ user.fullName }} ( {{ user.email }})</li>
                {% endfor %}
                </ul>
                
                </td>
            </tr>
            <tr>
                <th>Sesiones</th>
                <td>
                Total: {{ course.sessions|length}}
                <ul>
                  {% for session in course.sessions %}
                    <li> {{ session.name }}</li>
                {% endfor %}
                </ul>
                
                </td>
            </tr>
            <tr>
                <th>Estudiantes</th>
                <td>
                Total: {{ course.students|length}}
                <ul>
                  {% for user in course.students %}
                    <li> {{ user.fullName }} ( {{ user.email }})</li>
                {% endfor %}
                </ul>
                
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path( 'module_courses', { 'id':course.module.id } ) }}">Volver</a>

    <a class="btn btn-warning" href="{{ path('course_edit', {'id': course.id}) }}">Modificar</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
