{% extends 'dashboard.html.twig' %}

{% block title %}{{ course.name }}!{% endblock %}


{% block breadcumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Inicio</a>
    </li>
    <li class="breadcrumb-item">Estudiante</li>
    <li class="breadcrumb-item active ">{{ course.getLongName }}</li>
    </ol>
{% endblock %}

{% block body %}



<div class="row">
    <div class="col">
        <h1>{{course.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col">
        <h2>Sesiones</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <tr>
                <th>Sesión</th>
                <th>Auto evaluación</th>
                <th>Estado</th>
                <th>Calificación de Profesor</th>
            </tr>
            {% for userCourseSession in sessions %}
            <tr>
                <td>
                    {{ userCourseSession.courseSession.name}}
                </td>
                <td>
                        <p class="text-{{ userCourseSession.teacherReviewed ? 'success' : (userCourseSession.studentReviewed ? 'primary' : 'danger') }}">
                        {{ userCourseSession.teacherReviewed ? 'Revisado por profesor' : (userCourseSession.studentReviewed ? 'Revisado por estudiante' : 'El estudiante no ha revisado') }}
                        </p>
                </td>
                <td>
                    {{ userCourseSession.studentNote }} 

                    {% if  not userCourseSession.studentReviewed  
                    and userCourseSession.courseSession.studentCanUpdate
                    and userCourseSession.teacherNote is null
                    %}
                        <a href="{{ path('student_session', {'id':userCourseSession.id})  }}" class="btn btn-primary">Evaluarme</a>
                    {% endif %}
                    
                </td>
                <td>
                    {% if  userCourseSession.teacherNote  %}
                        {{ userCourseSession.teacherNote }} 
                    {% else %}
                        <p class="text-secondary"><i class="fa fa-clock"></i> {{ 'Pendiente' }}</p>
                    {% endif %}
                    
                </td>
            </tr>
            {% endfor %}
        </table>        
    </div>
</div>

{% endblock %}
