{% extends 'dashboard.html.twig' %}

{% block title %} {{course.name }} {% endblock %}

{% block breadcumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Inicio</a>
    </li>
    <li class="breadcrumb-item">Profesor</li>
    <li class="breadcrumb-item active"> 
        <a href="{{ path('teacher_course',{'id':course.id} ) }}">{{ course.getLongName }}</a>
        </li>
    </ol>

{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ course.name}} </h1>
</div>

<div class="row">
    <div class="col text-right m-3">
        <button onClick="location.reload()"  class="btn btn-default"> <i class="fa fa-sync"></i>  Actualizar</button>
        <a href="{{path('session_new',{'id':course.id})}}" class="btn btn-success">
    <i class="fa fa-plus"></i> Crear sesión
</a>    
    </div>
</div>

<table class="table table-light">
    <tbody>
        <tr>
            <th>Nombre</th>
            <th class="d-none d-sm-block">Fecha</th>
            <th>Estudiantes</th>
            <th>Estado</th>
            <th>Revisión</th>
        </tr>
        {%  for session in sessions %}
        <tr>
            <td>{{ session[0].name }}</td>
            <td class="d-none d-sm-block">{{ session[0].date | date("d/m/Y") }}</td>
            <td>{{ session.reviewed }} / {{ session[0].getUserCourseSession()|length }}</td>
            <td>
                <p  class="text-{{session[0].studentCanUpdate? 'success':'danger'}}">
                {{ session[0].studentCanUpdate ? 'Abierto a estudiantes':'Cerrado a estudiantes' }}
                </p>
                </td>
            <td>
                <a class="btn btn-primary" href="{{ path('teacher_course_session', {'id':session[0].id}) }}">Revisión</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
