{% extends 'dashboard.html.twig' %}

{% block title %} {{course.name }} {% endblock %}

{% block breadcumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Inicio</a>
    </li>
    <li class="breadcrumb-item">Profesor</li>
    <li class="breadcrumb-item active"> 
        <a href="{{ path('teacher_course',{'id':course.id} ) }}">{{ course.getName }}</a>
    </li>
    <li class="breadcrumb-item active">
        Resultados
    </li>
    </ol>

{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>{{ course.name}} {{ users|length}} </h1>
</div>

<div class="row">
    <div class="col text-right">
        <a class="btn btn-primary" href="{{ path('teacher_course_student_notes_exports', {'id':course.id} ) }}">Descargar en CSV</a>
    </div>
</div>

<table class="table table-light table-sm text-sm table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            {%  for session in sessions %}
            <th>{{session.name}}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {%  for studentRecord in users %}
        <tr>
            {%  for field in studentRecord %}
            <td>{{ field }} &nbsp;</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
