{% extends 'dashboard.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <h1>Programas</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Year</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ program.id }}</td>
                <td>{{ program.name }}</td>
                <td>{{ program.description }}</td>
                <td>{{ program.year }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('program_show', {'id': program.id}) }}"> Ver </a> 
                    <a class="btn btn-info" href="{{ path('program_modules', {'id': program.id}) }}">Modulos</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('program_new') }}"> <i class="fa fa-plus"></i> Crear Programa</a>
{% endblock %}
