{% extends 'dashboard.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ program.name }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ program.description }}</td>
            </tr>
            <tr>
                <th>Año</th>
                <td>{{ program.year }}</td>
            </tr>
        </tbody>
    </table>



    <a class="btn btn-primary" href="{{ path('program_index') }}">Volver</a>

    <a class="btn btn-warning" href="{{ path('program_edit', {'id': program.id}) }}">Modificar</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
