{% extends 'dashboard.html.twig' %}

{% block title %}Role index{% endblock %}

{% block body %}
    <h1>Roles </h1>
    <p>Los roles necesarios son ROLE_STUDENT, ROLE_TEACHER, ROLE_ADMIN</p>
    <div class="alert alert-danger">
        No modifique estos roles si no esta seguro para qué sirven
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.code }}</td>
                <td>{{ role.name }}</td>
                <td>{{ role.description }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('role_show', {'id': role.id}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay registros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('role_new') }}">Crear</a>
{% endblock %}
