{% extends 'dashboard.html.twig' %}

{% block title %}Course index{% endblock %}

{% block breadcumb %}
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">Inicio</a>
    </li>
    <li class="breadcrumb-item"><a href="{{ path('program_index') }}"> Programas </a></li>
    <li class="breadcrumb-item"><a href="{{path('program_modules', {'id':module.program.id} ) }} ">  {{ module.program.name }}</a> </li>
    <li class="breadcrumb-item">{{ module.name }}</li>
    </ol>

{% endblock %}

{% block body %}
    <h1>Cursos </h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Curso</th>
                <th>Codigo</th>
                <th>Participantes</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.code }}</td>
                <td>
                    Estudiantes: {{ course.students | length }}
                    <br>
                    Profesores: {{ course.teachers | length }}
                    <br>
                    Sesiones: {{ course.sessions | length }}
                </td>
                <td>
                    <a class="btn btn-info"  href="{{ path('course_show', {'id': course.id}) }}">Ver</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No hay cursos</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('course_new',{'id':module.id}) }}"> <i class="fa fa-plus"></i> Crear curso</a>
{% endblock %}
