{% extends 'dashboard.html.twig' %}

{% block title %}Module{% endblock %}

{% block body %}
    <h1>Module</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ module.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ module.name }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <td>{{ module.description }}</td>
            </tr>
            <tr>
                <th>Programa</th>
                <td>{{ module.program }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('program_modules',{'id': module.program.id}) }}">Volver</a>

    <a class="btn btn-warning" href="{{ path('module_edit', {'id': module.id}) }}">Modificar</a>

    {{ include('module/_delete_form.html.twig') }}
{% endblock %}
